/* Website Template by freewebsitetemplates.com */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,100,300);@font-face {
    font-family: 'poller_oneregular';
    src: url('../fonts/pollerone/pollerone-webfont.eot');
    src: url('../fonts/pollerone/pollerone-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pollerone/pollerone-webfont.woff') format('woff'), url('../fonts/pollerone/pollerone-webfont.ttf') format('truetype'), url('../fonts/pollerone/pollerone-webfont.svg#poller_oneregular') format('svg');
}

@font-face {
    font-family: 'leckerli_oneregular';
    src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot');
    src: url('../fonts/leckerlione/leckerlione-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/leckerlione/leckerlione-regular-webfont.woff') format('woff'), url('../fonts/leckerlione/leckerlione-regular-webfont.ttf') format('truetype'), url('../fonts/leckerlione/leckerlione-regular-webfont.svg#leckerli_oneregular') format('svg');
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    background: #F1F1F1;
    font-family: Roboto light, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    min-width: 960px;
    padding: 0;
    overflow: hidden;
}

p {
    color: #252525;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

p a {
    color: #252525;
    text-decoration: underline;
}

p a:hover {
    color: #898989;
}

#header {
    background-color: #252525;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    width: 100%;
}

.no-shadow {
    box-shadow: 0 0 0 !important;
}

#top-header {
    height: 25px;
    width: 100%;
    -webkit-mask-image: -webkit-gradient(linear,left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    background-image: url(../images/gallery/womanlaying.png);
    background-position: 50% 50%;
}

.gallery img {
    width: 300px;
    height: 300px;
}

.gallery li {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block !important;
    margin: 0 3px 3px !important;
}

#header a.logo {
    display: block;
    margin: 0 auto;
    padding: 0;
    /* width: 340px; */
}

#header a.logo img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
}

#header ul {
    margin: 0;
}

#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 19px;
}

#header ul li a {
    color: #666;
    display: inline-block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 4px;
    text-decoration: none;
}

#header ul li a:hover, #header ul li.selected a {
    border-bottom: 3px solid white;
}

#header ul li.selected a {
    color: white;
    font-weight: 500;
}

.content {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px;
}

#body {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    /* width: 960px; */
}

#body h1 {
    display:inline;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#body h1 span {
    background: #252525;
    display: inline-block;
    padding: 15px 28px 12px;
}

#body > div {
    margin: 10px 10px !important;
}

#body > div img {
    border: 2px solid #292929;
    margin: 24px 0 0;
    padding: 0;
}

#body > div .article {
    margin: 0 auto;
    padding: 30px 30px 0;
    width: 560px;
}

#body > div .article h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 30px;
}

#body > div .article h3 {
    color: #252525;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

#body > div .article h4 {
    background: #252525;
    color: #fff;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0 0 30px;
    padding: 8px 27px 10px;
}

#body > div .article p {
    margin: 0 0 30px;
}

#body div ul {
    margin: 0;
    padding: 24px 10px 0;
    width: 940px;
}

#body div ul li {
    display: block;
    list-style: none;
    margin: 0 0 13px;
    overflow: hidden;
    padding: 0;
}

#body div ul li .figure {
    border-right: 2px solid #1a1a1a;
    float: left;
    margin: 0;
    padding: 0;
    width: 376px;
}

#body div ul li img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    transition: 0.5s ease-in-out;
}

#body div ul li .figure:hover img {
    opacity: 1;
}

#body div ul li div {
    float: left;
    margin: 0;
    padding: 63px 0 20px;
    width: 558px;
}

#body div ul li div h3 {
    color: #252525;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#body div ul li div p {
    padding: 30px 30px 18px;
}

#body div ul li div a.more {
    background: #000;
    color: #fff;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 8px 28px;
    text-decoration: none;
    text-transform: uppercase;
}

#body div ul li div a.more:hover {
    color: #252525;
    background: #fff;
    border: 2px solid #252525;
}

#body #featured {
    margin: 0 0 13px;
    padding: 0;
    position: relative;
    width: 100%;
}

#body #featured img {
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*#body #featured div {	left: 50%;	margin-left: -480px;	margin-top: -171px;	padding: 0 0 0 470px;	position: absolute;	top: 50%;	text-align: left;	width: 490px;}*/
#body #featured div h2 {
    background: #fff;
    color: #000;
    display: inline-block;
    font-family: poller_oneregular;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 18px;
    padding: 23px 27px 20px;
    text-transform: uppercase;
}

#body #featured div span {
    background: #252525;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0;
    padding: 12px 27px;
}

#body #featured div a {
    background: #0ba39c;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 26px 27px 22px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#body #featured div a:hover {
    background: #1fc3bc;
}

#body > ul {
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: 960px;
}

#body > ul li {
    display: block;
    float: left;
    margin: 0 10px 20px;
    padding: 0;
    width: 300px;
}

#body > ul li a {
    color: #000;
    display: block;
    font-family: poller_oneregular;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#body > ul li a img {
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding: 0;
    opacity: .8;
    transition: 0.5s ease-in-out;
}

#body > ul li a:hover img {
    opacity: 1;
}

#body > ul li a span {
    display: block;
    margin: 0;
    padding: 33px 0 0;
}

#body form {
    margin: 0 auto;
    /* padding: 24px 0 0; */
}

#body form input, #body form textarea {
    color: #252525;
    font-family: Roboto, Roboto light, sans-serif;
    /* font-size: 15px; */
    font-weight: normal;
    padding: 2px;
}

#body form textarea {
    height: 175px;
    overflow: auto;
    resize: none;
}

#body form #send {
    background: #252525;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    padding: 20px 28px;
    width: auto;
}

#body form #send:hover {
    background: #fff;
    color: #252525;
    cursor: pointer;
}

#footer {
    background: #252525;
    margin: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#footer div {
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 960px;
}

#footer div p {
    color: #fff;
    float: left;
    line-height: 44px;
    margin: 0 0 0 10px;
    padding: 0;
}

#footer div ul {
    display: block;
    float: right;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 256px;
}

#footer div ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    width: 44px;
}

#footer div ul li a {
    background: url(../images/icons.jpg) no-repeat 0 0;
    display: block;
    height: 44px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    width: 44px;
}

.section {
    text-align: left;
    padding: 10px 10px !important;
    display: inline-table;
}

#header h1 {
    text-align: left;
    padding-left: 16px;
    transform: skewX(155deg);
    color: white;
}

#header a {
    text-align: left;
}

div#title {
    padding: 3px;
}

td b {
    font-size: 14px;
    /* font-weight: 500; */
}

.status {
    opacity: 0;
    transition: all .5s;
    max-height: 0px;
    color: transparent;
    padding-bottom:3px;
}

.status.accept {
    color: #64DD17;
    opacity: 1;
    max-height: 17px;
    transition: all .5s;
}

.status.deny {
	color: #DD2C00;
    opacity: 1;
    max-height: 17px;
    transition: all .5s
}

.logout {
	float:right;
	color:white;
	margin-right: 6px;
	cursor: pointer;
}

.fill {
	width: 88%;
}

.left-section {
	float:left;
	width: 25%;
}

.right-section {
	float:right;
	width:75%;
}
